.register{
    .register_title{
        @include textStyle($fs_38, $fw_700 ,$accent_color);
        margin-top: 50px;
        text-align: center;
    }
    .register_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .register_btn{
        display: inline-block;
        margin: 15px 0;
        padding: 10px 20px;
        background-color: $accent_color;
        border-radius: 5px;
        text-decoration: none;
        @include textStyle($fs_18, $fw_500 , $secondary_color);
    }
    .register_btn:hover{
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.5s;
    }
}