// color
$primary_color: #0082C8 !important;
$secondary_color: #fff !important;
$accent_color:#EE8306 !important;
$black: #000 !important;
$blue_dark: #002335 !important;
$text_color: #76777A !important;
$color_bg_gray: #FBFBFB !important;

// font-size
$fs_13: 13px !important;
$fs_16: 16px !important;
$fs_18: 18px !important;
$fs_20: 20px !important;
$fs_22: 22px !important;
$fs_24: 24px !important;
$fs_33: 33px !important;
$fs_38: 38px !important;
$fs_40: 40px !important;

// Biến font weight
$fw_300: 300 !important;
$fw_400: 400 !important;
$fw_500: 500 !important;
$fw_700: 700 !important;